<ac-map [flyTo]="flyToOptions">
  <ac-map-layer-provider
    [provider]="map.provider"
    [options]="map.options"
  ></ac-map-layer-provider>
  <ac-layer acFor="let plane of planes$" [context]="this">
    <ac-polyline-primitive-desc
    props="{width:2,positions:plane.trail,material:plane.material}"
  ></ac-polyline-primitive-desc>
    <ac-billboard-desc
      props="{image:plane.image,position:plane.position,rotation:plane.rotation,scale:plane.scale}"
    ></ac-billboard-desc>
    
  </ac-layer>
</ac-map>
