<div class="container">
    <mat-card>
        <mat-card-title>Welcome to Cesium Plane Simulator</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="menu">
                <ul>
                    <li><button mat-raised-button matRipple [routerLink]="['/login']" routerLinkActive="router-link-active">Login</button>
                    </li>
                    <li><button mat-raised-button matRipple [routerLink]="['/about']" routerLinkActive="router-link-active" >About</button></li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
</div>
