.isCurrent {
    background-color: rgb(153, 243, 255);
}

.playerContainer {
    margin:10px;

}
.isReady {
    background-color:green;
    color:white;
}

.isNotReady {
    background-color:red;
    color:white;
}